# Minecraft files
.cache
.fabric
.mixin.out
coremods
crash-reports
data
datapacks
debug
defaultconfigs
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
emojiful
frozenlib
frozenlib_cape_cache
logs
moddata
moonlight-global-resource-packs
saves
screenshots
server-resource-packs
texturepacks
command_history.txt
options.txt
usercache.json
# Other
.DS_Store
